project/Application/output/*
project/Application/listing/*
project/Application/*
*.axf
*.htm
*.iex
*.lnp
*.d
*.crf
*.o
*.tmp
*.TMP
*.wspos
*.wsdt
*.bat
*.crun
*.dbgdt
*.jlink
*.xml
*.dep
*.ewd
*.ewt
*.bak
*.JHD
*.yinqiang
*.lst
*.map
*.uvguix.*
*.uvgui.*
!*.uvoptx
!*.uvprojx
!Çå³ý¹¤³Ì.bat
*.orig
*.log
/History
/_Previews
/_Previews/*
*.PcbDocPreview
*.SchDocPreview
*.PcbLib.Zip
*.SchDoc.Zip
*.PcbDoc.Zip
*.PrjPcb.Zip
*.SchDocPreview.Zip
*.PcbDocPreview.Zip
